<!DOCTYPE html>
<html lang="en">

    <%- include('partials/layouts/header.ejs') %>
    <%- include('partials/layouts/navbar.ejs') %>

<body>
    <!-- MODAL -->

    <%- include('partials/modals/modal_maps.ejs') %>

    <!-- MODAL -->

    
    <div class="container">
        <h3>a c c o u n t.</h3>
        <img src="./public/img/images/cartLogo.png">
        
      
    </div>
    
    <%- include('partials/modals/modal_cart.ejs') %>
    <%- include('partials/layouts/footer.ejs') %>
   
</body>
</html>
