<!DOCTYPE html>
<html>
  <%- include('partials/layouts/header.ejs') %>
  <%- include('partials/layouts/navbar.ejs') %>
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
  <script src="https://js.stripe.com/v3/"></script>

<body>
    <div id="section">
      <div class="product">
        <h3 id="COMMANDE_NAME"> Commande numéro <%= id %></h3>
       
      </div>
      <form action="/panier/create-checkout-session" method="POST" id="form-cfm">
        <div class="form-group">
          <label for="prenom">Prenom:</label>
          <input type="text" class="form-control input-sm" id="prenom" name="prenom" aria-describedby="emailHelp" placeholder="Prenom">
        </div>
        <div class="form-group">
          <label for="nom"> Nom:</label>
          <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"> Email:</label>
          <input type="email" class="form-control" id="exampleInputPassword1" name="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="addresse">Addresse:</label>
          <input type="text" class="form-control" id="addresse" name="addresse" placeholder="Addresse">
        </div>
        <div class="form-group">
          <label for="codeImm">Code Immeuble:</label>
          <input type="number" class="form-control" id="codeImm" name="codeImm" placeholder="Code Immeuble">
        </div>
        <div class="form-group">
          <label for="num"> Numero telephone:</label>
          <input type="number" class="form-control" id="num" name="num" placeholder="Numero">
        </div>
        <div class="form-group">
          <label for="heure"> Heure Livraison Souhaitee: </label>
          <input type="text" class="form-control" id="heure" name="heure" placeholder="Heure">
        </div>
        <!-- input non visible pr avoir la valuer de l'id -->
        <input type="hidden"  id="idCommandeInput" name="idOrder" value="<%= id %>">
        
        <button type="submit" id="checkout-button" style="margin-top: 10px;">Confirmer La Commande</button>
      </form>

    

      
    </div>
  </body>

  <%- include('partials/layouts/footer.ejs') %>

</html>