<!DOCTYPE html>
<html lang="en">

    <%- include('partials/layouts/header.ejs') %>
    <%- include('partials/layouts/navbar.ejs') %>

<body>

    <%- include('partials/layouts/half1.ejs') %>
    
    <div class="main-box">
        <div class="container">
            <section id="menu">
                <%- include('partials/layouts/half2.ejs') %>
            </section>
        </div>
    </div>
    <%- include('partials/modals/modal_cart.ejs') %>
    <%- include('partials/layouts/footer.ejs') %>
</body>
</html>

