<!DOCTYPE html>
<html lang="en">

    <%- include('partials/layouts/header.ejs') %>
    <%- include('partials/layouts/navbar.ejs') %>

<body>


    <div class="main-box">
        
        <div class="container">
            <!--<section id="menu">-->
                <div class="row">
                    
                    <%- include('partials/layouts/cardLivraison.ejs') %>
                    
                </div>

                  
            <!--</section>-->
        </div>
    </div>
    <%- include('partials/modals/modal_cart.ejs') %>

    <%- include('partials/layouts/footer.ejs') %>
</body>
</html>
