
<% for (var i =0; i < pizzas.length;  i++ ) { %>

    <div class="item row align-items-center" id="pizza_item_<%= i %>" >
        <div class="col-sm-3 pr-5">
            <img class="item_img" src="<%= pizzas[i].img %>" >
        </div>
        <div class="info col-sm-9">
            <div class="item_head">
                <h3 class="item_title"> <%= pizzas[i].title %></h3>
                <span class="item_dots"> </span>
                <span class="item_price"> <%= pizzas[i].price %>€</span>
            </div>
            <p class="item_description"> <%= pizzas[i].info %> </p>
            <button class="add-pizza-<%= i %>">Ajouter au Panier</button>
            <button data-bs-toggle="modal" data-bs-target="#optionsPizza">Options</button>
        </div>
        
    </div>
    <% } %>